.topTitle {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
.topTitle h2{
    text-align: end;
    font-weight: bold;
    color: #17a2b8;
}
.tableView{
    height: 100%;
    min-height: 100%;
    bottom:150px;
    overflow:auto;
}
.table {   
    width: 50%;
    max-width: 100%;
    margin: auto;
    
}
.table .thead-dark tr{
    background-color: #17a2b8 !important;
}
.logged {
    font-weight: bold;
    color: aliceblue;
    padding-right: 25px;
    padding-top: 10px;
}

.modal-login .modal-footer {
	background: #343a40;
}
.modal-login h4 {
    color: aliceblue;
}
.modal-login .close {
    color: aliceblue;
}
.modal-login .modal-header {
	background: #343a40;
}
.modal-login .text-muted {
    color: #17a2b8;
}







