.topTitle {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}
.topTitle h2{
    text-align: end;
    font-weight: bold;
}
.tableView{
    height: 100%;
    min-height: 100%;
    bottom:150px;
    overflow:auto;
}
.table {   
    width: 50%;
    max-width: 100%;
    margin: auto;
    background-color: antiquewhite;
}
.logged {
    font-weight: bold;
    color: aliceblue;
    padding-right: 25px;
    padding-top: 10px;
}






