{% extends "base.html" %}

{% block content %}

<div class="tableView">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Units</th>
        <th scope="col">Unit of mass</th>
        <th scope="col">Date added</th>
        <th scope="col">Supplier</th>
        <th scope="col">Added by:</th>
      </tr>
    </thead>
    <tbody>
      {% if orders %}
      {% for order in orders %}
        <tr>
          <th scope="row">{{order.order_id}}</th>
          <td>{{ order.product |capfirst }}</td>        
          <td>{{ order.units}}</td>   
          <td>{{ order.quantity}}</td>
          <td>{{ order.date}}</td>
          <td>{{ order.supplier}}</td>
          <td><a href="{$ url 'employee' $} ">{{order.user}}</a></td>
        </tr>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <h2>There are no orders.</h2>
      </div>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}