{% extends "base.html" %}
{% block content %}

<div class="tableView">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Units</th>
        <th scope="col">Unit of mass</th>
        <th scope="col">Date added</th>
        <th scope="col">Supplier</th>
        <th scope="col">Added by:</th>
      </tr>
    </thead>
    <tbody>
      {% if orders %}
      {% for order in orders %}
        <tr>
          <th scope="row">{{order.order_id}}</th>
          <td>{{ order.product |capfirst }}</td>        
          <td>{{ order.units}}</td>   
          <td>{{ order.quantity}}</td>
          <td>{{ order.date}}</td>
          <td>{{ order.supplier}}</td>
          <td><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">{{order.user}}</button></td>
        </tr>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ order.user }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><em>{{ order.user.position }}</em></p>
                <p><em>{{ order.user.email }}</em></p>
                <p><em>{{ order.user.dob }}</em></p>
                <p><em>{{ order.user.phone }}</em></p>
              </div>
              <div class="modal-footer">          
                <button type="button" class="btn btn-dark" data-dismiss="modal">Ok</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <h2>There are no orders.</h2>
      </div>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}